body
{
font-family: "Raleway", sans-serif;
  margin:auto;	
  max-width: 1200px;
}
 
 header
 {
  
    

}
	

 

nav img
 {
   height: 40px;
}

nav 
 {
	display: flex;
	justify-content: space-between;
}

nav ul
{
 display: flex;
 list-style: none;
 font-size: 10px;
}

nav li
{
  margin: 0 10px 0 20px;
}

h1
{
 font-size:18px;
}

h2
{
 font-size:12px;
}
aside	
{


}

.contenaire-hebergement
{
	display: flex;
    justify-content: center;

}
.hebergement
{
  background-color:#F2F2F2; 
    width:  200%;
  border-radius: 15px;
  ;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
} 
.hebergement .block-image {
	width: 30%;
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
  margin-bottom: 30px;
}
.hebergement .block-image img 
{
 width: 100%;
 padding: 1px;
 height: 110px;
}

.block-image figure {
  margin: 0;
}
.block-image a {
  text-decoration: none;
  color: black;
}

.block-image p {
  margin: 0;
}

.block-image p .price {
  font-weight: bold;
}

.block-title {
	margin: 20px 0 20px 20px;
}

.popular
{
    min-width: 30%;

background-color: #F2F2F2;
margin-left:20px;
height: 500px;
border-radius: 15px;
}

.block-popular img {

	width: 130px;
	height: 100px;
	padding-left: 30px;
	padding-bottom:45px; 
	margin-top: 5px;
   
}

.contenaire-popular   
{display:flex;

  
}


.contenaire-activity
{
display: flex;
 
}

.activity
  { 
   width: 800px;
   background-color: #F2F2F2;
   border: 1px solid black
  ;

}

 

footer
{
 background-color: #F2F2F2;  
  border: 10px ;
 margin-bottom:20px;
   display: flex;
    justify-content: space-between;
}

footer div {
	border: 1px solid black ;
	height: 200px;
	width: 100px;
	 
}



.block-images
{
display: flex;
flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
 
.container-main {
	display: flex;
	    flex-direction: column;
}



  
 	

