body
{
font-family: "Raleway", sans-serif;
  margin:auto;	
  max-width: 1200px;
}
 
 header
 {
  
    

}
	

 

nav img
 {
   height: 40px;
}

nav 
 {
	display: flex;
	justify-content: space-between;
}

nav ul
{
 display: flex;
 list-style: none;
 font-size: 10px;
}

nav li
{
  margin: 0 10px 0 20px;
}

h1
{
 font-size:18px;
}

h2
{
 font-size:12px;
}

.contenaire-hebergement
{
	display: flex;
    justify-content: center;
   
}


.hebergement
{
  background-color:#F2F2F2;
  width:  200%;
  border-radius: 12px;  
   display: flex;
  flex-direction: column;
}   
    
    
 
 
.hebergement .block-image {
	width: 25%;
  background-color: white;
  border: 4px solid white;
  border-radius:20px;
  margin-bottom: 25px;
}
.hebergement .block-image img 
{
 width: 100%;
 padding: 1px;
 height: 100px;
 border-radius:15px 15px 0 0; 
 object-fit: cover;
}

.block-image figure {
  margin: 0;
} 
.block-image a {
  text-decoration: none;
  color: black;
}

.block-image p {
  margin:0;
  font-weight: bold;
}

.block-image p .price {
  font-weight: bold;
}

.block-title {
	margin: 20px 0 0px 20px;
}
.block-image span
{
font-weight: bold;

}
.etoiles{  
 display: flex;
flex-direction: row;
color: blue;
font-size: 14px;
}
.popular
{
    min-width: 30%;

background-color: #F2F2F2;
margin-left:20px;

border-radius:15px 
}

.block-popular img {

	width: 130px;
	height: 110px; 
	object-fit: cover;
  border:4px solid white; 
  border-radius: 20px 0 0 20px;
}
.block-popular
{display: flex;
 flex-direction: row;
 margin-top: 10px;
 background-color:white;
border-radius: 20px;



}
.block-popular p { 
padding:10px;
font-size: 14px;
 

 } 
.block-popular .prix  { 
padding:0;
font-size: 12px;
margin:4px;
 }
.contenaire-popular   
{display:flex;

  
}


.contenaire-activity
{
display: flex;
 
}   
.activity-block-image{
 display: flex;
 justify-content:space-between; 
 
background-color:white;

} 
.block-images-activity1 img{
width:280px;
height: 320px;
object-fit: cover;
border-radius:12px 12px 0 0; 

}
.block-images-activity2{
  display:flex;
  flex-direction:column;
  justify-content: space-between;
  
}
.block-images-activity2 img{
width: 280px;
height: 150px;
object-fit: cover;
border-radius:12px 12px 0 0;
}
.pomergue img
{width:10px;

}
.block-images-activity3 img{
width:280px;
height: 80px;
object-fit: cover;
border-radius:12px 12px 0 0;

}
.block-images-activity4 img{
width:280px;
height: 320px;
object-fit: cover;
border-radius:12px 12px 0 0; 

}
.block-images-activity5{
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  
}
.block-images-activity5 img{
width:280px;
height: 100px;
object-fit: cover;
border-radius:12px 12px 0 0;

}

.block-images-activity6 img{
width:280px;
height: 200px;
object-fit: cover;
border-radius:12px 12px 0 0;
}

  

footer
{
 background-color: #F2F2F2;  
  border: 10px ;
 margin-bottom:20px;
   display: flex;
    justify-content: space-between;
}

footer div {
	border: px solid black ;
	height: 80px;
	width: 150px;
	 font-size: 10px;
   margin-bottom: 5px;
   margin-left:20px

}
.format
{font-weight: bold;
font-size: 12px
}

.block-images
{
display: flex;
flex-wrap:wrap;
    justify-content: space-around;
    align-items: center;
}
 
.container-main {
	display: flex;
	    flex-direction: column;
}

.Recherches{
 background-color:blue;
 border:1px solid white;
}


  
 	

